@import url("bootstrap.css");
body{
    background-color: rgba(15, 15, 15, 0.89);
}
#rowone{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/nj-pizza-1500x609.jpg") no-repeat center center/cover;
    color: white;
    height: 100%;  
}
#secondrow{
    color:  rgb(255, 145, 0);
    margin-top: 3%;
    text-align: center;
    margin-right: 100px;
    margin-left: 150px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#thirdrow{
    color: rgb(207, 120, 7);
    margin-top: 3%;
    text-align: center;
}
.nav-bar{
    text-align: center;
    padding-top: 5%;
}
.welcome{
    margin-top: 7%;
    text-align: center;
}
h2{
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
}
li{
    display: inline-block;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
} 
li a:hover {
    background-color: rgba(37, 37, 37, 0.979);
}
#sizes{
    align-content: center;
    text-align: center;
    margin-top: 3%;
    color: rgb(245, 169, 70)
}
.col-4{
    width: 100%;
}
.large{
    border-radius: 200px; 
    width: 280px;
}
.medium{
    border-radius: 200px;
    width: 280px
}
.small{
    border-radius: 200px;
    width: 280px;
    margin-left: 0px;
}

