@import url("bootstrap.css");
body{
    background-color: rgba(15, 15, 15, 0.89);
}
#rowone{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../images/nj-pizza-1500x609.jpg") no-repeat center center/cover;
    color: white;
    height: 90%;    
}
.nav-bar{
    text-align: center;
    padding-top: 5%;
}
.welcome{
    margin-top: 7%;
    text-align: center;
}
h2{
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
}
li{
    display: inline-block;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
} 
li a:hover {
    background-color: rgba(37, 37, 37, 0.979);
}
