@import url("bootstrap.css");
body{
    background-color: rgba(15, 15, 15, 0.863);
}
#rowone{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("../images/nj-pizza-1500x609.jpg") no-repeat center center/cover;
    color: white;
    height: 100%;  
}
#secondrow{
    color:  rgb(255, 145, 0);
    margin-top: 3%;
    text-align: center;
    margin-right: 100px;
    margin-left: 150px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#thirdrow{
    color: rgb(207, 120, 7);
    margin-top: 3%;
    text-align: center;
}
.nav-bar{
    text-align: center;
    padding-top: 5%;
}
.welcome{
    margin-top: 7%;
    text-align: center;
}
h2{
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
}
li{
    display: inline-block;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
} 
#rowone li a:hover {
    background-color: rgba(37, 37, 37, 0.979);
}
#sizes{
    align-content: center;
    text-align: center;
    margin-top: 3%;
    color: rgb(245, 169, 70)
}
.col-4{
    width: 100%;
}
.large{
    border-radius: 200px; 
    width: 280px;
}
.medium{
    border-radius: 200px;
    width: 280px
}
.small{
    border-radius: 200px;
    width: 280px;
    margin-left: 0px;
}
button{
    color: #fff;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.44;
    font-family: Open Sans,sans-serif;
    background-color: #e4252f;
    padding: .625rem .9375rem;
    border-radius: 31.25rem;
    max-width: 20rem;
}
.button{
    margin-top: 10%;
    text-align: center;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    z-index: auto;
    padding-top: 100px;
    overflow: auto;
    /* background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4)    */
}
.modal-content {
    background-color: #050505da;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 70%;
}
.close{
    color: #f80101;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
} 
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
select{
    width: 150px;
    align-self: center;
}
input{
    width: 50px;
    align-self: center;
}
#checkout{
    align-self: center;
    margin-top: 2%;
}